<!DOCTYPE html>
<html>

  <head><meta charset="UTF-8"></head>
  <title>Site Maintenance</title>
  <style>
    body {
      text-align: center;
    }
    h1 {
      font-size: 50px;
    }
    body {
      font: 20px Helvetica, sans-serif;
      color: #333;
      margin-top: 60px;
    }
    article {
      display: block;
      text-align: left;
      width: 650px;
      margin: 0 auto;
    }
    a {
      color: #dc8100;
      text-decoration: none;
    }
    a:hover {
      color: #333;
      text-decoration: none;
    }
    img {
      max-width: 40%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  </style>

  <article>
    <img src="under_construction.png">
    <h1>Sorry, le site est en cours de refonte</h1>
    <div>
      <p>On revient bientôt avec tout plein de nouvelles features trop cool!</p>
      <p>Plein de love <3</p>
      <p>L'equipe Chartschool</p>
    </div>
  </article>

</html>
