body {
    margin: 0;
    // height: 100vh;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content auto min-content;
    /*
      1   2       3
    1┌	 ┬─	─	─┐
     │  │       │
    2├─┼────┤
     │  │      │
     │  │      │
    3├─┼────┤
    4└─┴────┘
    */
    
    @media (#{$small-screen}) {
       grid-template-columns: 40px 1fr;
    }
  }
  
  /* grid-area: row-start / column-start / row-end / column end */
  
  .sidebar-nav {
    grid-area: 2 / 1 / 3 / 2;
    padding: 0 0 2rem 0;
  }
  
  main {
    grid-area: 2 / 2 / 3 / 3;
    padding: 0 2rem 10rem 2rem;
  }
  
  .site-header {
    grid-area: 1 / 2 / 2 / 3;
    align-self: center;
  }
  
  .logo {
    grid-area: 1 / 1 / 2 / 2;
    align-self: stretch;
    display: grid;
    place-items: center;
  }
  
  .site-footer {
    grid-area: 3 / 1 / 4 / 3;
  
    display: flex;
    > div {
      padding: 4rem 1.5rem;
      &:first-child {
        margin-right: auto;
      }
      span {
        display: block;
      }
    }
    @media #{$small-screen} {
      display: block; 
      padding-bottom: 2rem;
      > div {
        padding: 2rem 1rem 0rem 2rem;
      }
    }
  }