

  <% if @pending_courses_as_attendee.present? %>
  <table style="width:100%">
    <tr>
      <th>Titre</th>
      <th>Enseignant</th>
      <th>Date</th>
      <th>Link</th>
    </tr>
    <% @pending_courses_as_attendee.each do |course| %>
    <tr>
      <td><%= course.title %></td>
      <td><%= course.creator.name %></td>
      <td><%= course.start_time.asctime %></td>
      <td><%= link_to 'lien', course_path(course) %></td>
    </tr>
    <% end %>
    </table>
  <% else %>
    <p>Aucun cours à venir</p>
  <% end %>
