<%= link_to "Accueil", root_path %> <br>
<hr>
<h1>EN TANT QUE PROFESSEUR</h1>
<%= render "teacher_index" %>
<hr>
<h1>EN TANT QU'ÉLÈVE</h1>
<%= render "student_index" %>




ICI => <%= @pending_courses_as_attendee.size %>