

<ul class="nav nav-pills mb-3 mx-auto" id="pills-tab" role="tablist">
  <li class="nav-item mr-3">
    <a class="nav-link active" id="pills-student-tab" data-toggle="pill" href="#pills-student" role="tab" aria-controls="pills-home" aria-selected="true">As Student</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-teacher-tab" data-toggle="pill" href="#pills-teacher" role="tab" aria-controls="pills-teacher" aria-selected="false">As Teacher</a>
  </li>
</ul>



ICI => <%= @pending_courses_as_attendee.size %>


 <div class="tab-content tab-start" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-student" role="tabpanel" aria-labelledby="pills-student-tab">

   <%= render "student_index" %>

   </div>
  <div class="tab-pane fade" id="pills-teacher" role="tabpanel" aria-labelledby="pills-teacher-tab">

   <%= render "teacher_index" %>

   </div>
</div>

<div>
  <%= link_to 'Add a course', new_course_path %>
</div>
