.start__container {
    position: absolute;
    z-index: 99999 !important;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: $dark-violet;
}

.row-start {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.card-start-left, 
    .card-start-right {
        border: none;
        border-radius: 0rem;
    }

.card-start-right {
    background: transparent;
}

.col-left, .col-right {
    padding: 0px;
    margin: 0px;
}

.tab-start > .active {
    display: flex;
    flex-direction: column;
}



label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: $blue;
}

.label_tag {
    display: inline-block;
}

.field {
    padding-bottom: 0.5em;
}


input {
    width: 20vw;
    color: $blue;
    border: 2px solid #38d9d340;
    background-color: #38d9d347;
    font-size: $f-size-4;
    font-weight: $f-semi-bold;
    padding: 0.5em;
    border-width: 0px 0px 5px 0px;
    border-radius: 5px;
}

// input:focus, input.focus {
//         border: 2px solid $blue;
//         background-color: #38d9d347;
//         border-radius: 5px;
//         border-width: 0px 0px 5px 0px;
// }


input#person_remember_me {
    width: auto;
}

input.btn.btn-info.f-size-1.f-bold {
    width: 150px;
    height: 55px;
}


.row-links {
    bottom: -120px;
}
.logo { position: relative; top: 31%;}

@include media-breakpoint-down(sm) {
    
    .logo {
        top: 25px;
    }

    .f-size-1 {
        font-size: 2.5em;
    }

    #logo_brand {
        width: 135px;
        height: 135px;
    }

    .col-left {
      height: 40vh !important;
    }

    .col-right {
        height: 60vh !important;
    }
    .card-start-right {
        height: 100%;
        background: white;
    }
  }