<%= link_to(new_student_session_path) do %>
  <div class="btn btn-info w-25 mx-auto py-3 my-3">
	  Sign in
  </div>
<% end %>

<%= link_to(new_student_registration_path) do %>
  <div class="btn btn-info w-25 mx-auto py-3 my-3">
    Sign up
  </div>
<% end %>
