              <%= link_to(root_path, class: "logo f-bold f-size-1 color-primary text-center") do %>
                <svg version="1.1" id="logo_brand" width="180" height="180" class="d-inline-block align-middle"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 616 504" enable-background="new 0 0 616 504" xml:space="preserve">
                    <circle id="XMLID_2_" fill="#653CEF" cx="400.9764099" cy="242.0993042" r="157.5496521" />
                        <polygon id="XMLID_1_" fill="#38D9D3" points="61.6666679,242.0993042 61.6666679,46.1987305 231.3215332,144.1490173 
                            400.9764099,242.0993042 231.3215332,340.0495911 61.6666679,437.9998779 " />
                        </svg>
                     <br/>
                <span>ChartSchool</span>
                <% end %> 