    <div class="row row-start h-100">

        <div class="col-sm-12 col-md-6 col-left h-100">
            <div class="card card-start-left mx-auto h-100 bg--white ">
              
                <%= render "logo" %>

              </div>
          </div>

        <div class="col-sm-12 col-md-6 col-right my-auto">
            <div class="card card-start-right mx-auto text-center">
            
                <%= render "pills" %>

            </div>
        </div>

    </div>



