<footer class="site-footer">
    
    <div>
      <span>&copy;2018 NotReallyProductions</span>
      <br>
      <span>
        <a href="https://codepen.io/pro/" class="coffee-link">
          <svg width="20" height="20" viewBox="0 0 24 24">
            <path d="M2,21H20V19H2M20,8H18V5H20M20,3H4V13A4,4 0 0,0 8,17H14A4,4 0 0,0 18,13V10H20A2,2 0 0,0 22,8V5C22,3.89 21.1,3 20,3Z" />
          </svg>
          Buy me a Coffee
        </a>
      </span>
    </div>
    
    <div>
      <span>Built in <a href="https://codepen.io/pro/projects">CodePen Projects</a></span>
      <span>With <a href="http://commonmark.org/">Markdown</a> and <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a></span>
      <span>By <a href="https://chriscoyier.net/">Chris Coyier</a></span>             </div>
    
    <div>
      <span>Icons by <a href="https://materialdesignicons.com/">Material Design Icons</a></span>
      <span>Code Highlighting By <a href="https://prismjs.com/">Prism</a></span>
      <span>Fonts are <a href="https://fonts.google.com/specimen/Markazi+Text">Markazi Text</a> and <a href="https://fonts.google.com/specimen/IBM+Plex+Mono">IBM Plex Mono</a></span>
    </div>
    
  </footer>