<nav class="navbar navbar-light bg-light fixed-top">
  <a class="navbar-brand">Navbar</a>
<a href="#menu-toggle" class="btn btn-default mr-sm-2 my-2 my-sm-0" id="menu-toggle">Toggle Menu</a>
</nav>


