
    <nav class="navbar navbar-light bg-white shadow-sm fixed-top">
      <a class="navbar-brand">
      <svg version="1.1" id="Calque_1" width="80" height="80" class="d-inline-block align-middle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 616 504" enable-background="new 0 0 616 504" xml:space="preserve">
    <circle id="XMLID_2_" fill="#653CEF" cx="400.9764099" cy="242.0993042" r="157.5496521"/>
    <polygon id="XMLID_1_" fill="#38D9D3" points="61.6666679,242.0993042 61.6666679,46.1987305 231.3215332,144.1490173 
    	400.9764099,242.0993042 231.3215332,340.0495911 61.6666679,437.9998779 "/>
    </svg>
      ChartSchool</a>
    <a href="#menu-toggle" class="btn btn-default mr-sm-2 my-2 my-sm-0" id="menu-toggle"><span><i class="fas fa-bars fa-2x grey-primary"></i></span></a>
    </nav>



