<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav f-xlight">

                <li>
                    <%= link_to  "STUDENT", class: "" %>
                </li>
                <li>
                    <%= link_to  "TEACHER", class: "" %>
                </li>
                

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
